<h2>DETAIL</h2>
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div *ngIf="product">
            <!--design detail product-->
            <div class="row detail">
                <div class="col-sm-6 showimage">
                    <img src={{product.image}} class="image">
                </div>
                <div class="col-sm-6">
                    <h2 class="name-product">{{product.name}}</h2>
                    <hr>
                    <div>
                        <p class="brand-product"> Brand:</p>
                        <h4 style="margin-bottom: 0px;">{{product.brand}}</h4>
                    </div>
                    <div>
                        <p class="brand-product"> Price:</p>
                        <h4 style="margin-bottom: 0px;">{{product.price}} VNĐ</h4>
                    </div>
                    <div>
                        <legend class="brand-product"> Detail:</legend>
                        <p style="margin-top: 20px;">{{product.infor}}</p>
                    </div>
                    <hr>
                    <div>
                        <legend>Size:</legend>
                        <select (change)="setSize($event)">
                            <option *ngFor="let size of sizeChoose" value="{{size}}">{{size}}</option>
                        </select>
                    </div>
                    <fieldset>
                        <legend>Color:</legend>
                        <div>
                            <button *ngFor="let itemColor of product.color" class={{itemColor}}>
                                <input  type="radio" name="color" id="color-w" value={{itemColor}} checked="checked" (change)="setColor(itemColor)">{{itemColor}}
                            </button>
                        </div>
                        <legend style="float: right;">Amount:</legend>
                        <div class="amount">
                            <button type="button" class="btn btn-outline-dark decrease" style="float: left;" (click)="decrease()">Bớt</button>
                            <p style="float: left; width: 125px; text-align: center;">{{amount}}</p>
                            <button type="button" class="btn btn-outline-dark increase" style="float: left;" (click)="increase()">Thêm</button>
                        </div>
                    </fieldset>
                    <hr>
                    <legend *ngIf="!total">TOTAL: {{product.price}} VND</legend>
                    <legend *ngIf="total">TOTAL: {{total}} VND</legend>
                    <hr>
                    <button type="button" class="btn btn-primary" (click)="addToCart(product.id,product.name,product.price, product.color.length)">Add to card</button>
                    <button type="button" class="btn btn-outline-warning" (click)="seeMore(product.brand)">See more</button>
                    <br>
                </div>
            </div>

            <!--slide-->
            <!--see more-->
            <div>
                <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">
                    <div ngxSlickItem *ngFor="let item of listProducts| filter:name" class="slide">
                        <div class="card-body text-center" (click)="seeMoreProduct(item.id)">
                            <div class="card" style="width: auto;">
                                <img src={{item.image}}>
                                <div class="card-body">
                                    <h5 class="card-title">{{item.name}}</h5>
                                    <p class="card-text">{{item.brand}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ngx-slick-carousel>
                <button (click)="slickModal.slickGoTo(press())">press</button>
                <button (click)="slickModal.slickGoTo(next())">next</button>
            </div>
        </div>
    </div>
    <div class="col-sm-3"></div>
</div>