<button routerLink="/home">home</button>
<button routerLink="/cart">cart</button>

<router-outlet></router-outlet>
<!--botton-->
<ng-container>
    <div class="container">
        <div class="row">
            <div class="col">
                Copyright © MFS
            </div>
            <div class="col order-5">
                <i class="fas fa-phone"></i>
                <i class="fab fa-adversal"></i>
                <i class='fas fa-download'></i>
            </div>
            <div class="col order-1">
                <i class="fas fa-map-marked-alt"></i>
            </div>
        </div>
    </div>
</ng-container>