<div>
    <!--search products-->
    <div class="search-product">
        <input type="search" name="name" id="input" class="form-control" [(ngModel)]="name" ngModel placeholder="search everything in hear">
        <div *ngIf="!status">
            <button type="button" class="btn btn-info sort-products" (click)="sort('price')">increase</button>
        </div>
        <div *ngIf="status">
            <button type="button" class="btn btn-info sort-products" (click)="sort('price')">reduction</button>
        </div>
    </div>
    <!--show list product-->
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div>
                <div class="serv">
                    <ul>
                        <li *ngFor="let eachProducts of products | filter:name | orderBy: key: status | paginate: { itemsPerPage: 5, currentPage: p }">
                            <div class="card-body text-center">
                                <div class="card" style="width: auto;">
                                    <img src="..." class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">{{eachProducts.name}}</h5>
                                        <p class="card-text">{{eachProducts.brand}}</p>
                                        <img ng-src="{eachProducts.img}">
                                        <p class="card-text">{{eachProducts.price}} VND</p>
                                        <button type="button" class="btn btn-primary">Add to card</button>
                                        <button type="button" class="btn btn-outline-info" routerLink="/detail/{{eachProducts.id}}">Detail</button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>

</div>