<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">MANAGE</div>
        <div class="list-group list-group-flush">
            <a routerLink="manegaaccount" class="list-group-item list-group-item-action bg-light">Account</a>
            <a routerLink="manegaoder" class="list-group-item list-group-item-action bg-light">Oder</a>
            <a routerLink="manegaproduct" class="list-group-item list-group-item-action bg-light">Product</a>
            <a routerLink="manegahistoryoder" class="list-group-item list-group-item-action bg-light">History Oder</a>
            <a routerLink="manegaaccount" class="list-group-item list-group-item-action bg-light">statistical</a>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>